<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <! –– can leave this empty not sure what code resulted in 3 columns ––>

      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div>
      <!-- links to things online work, but not to local things:
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg">
      -->
      <img src="/images/logos_web.ai" alt="logos">
        <! –– can leave this empty ––>
    </div>

  </div>

</footer>
