<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
    <div class="footer-col">
      <img src="{{site.baseurl}}/images/logos_web.svg" alt="logos" width= "100" height="100">
      <img src="/images/logos_web.svg" alt="logos" width= "100" height="100">
    </div>

  </div>

</footer>
